* { 
    margin: 0; 
    padding: 0; 
}

body { 
    font: 16px Helvetica, Sans-Serif; 
    line-height: 24px; 
    background: url(images/noise.jpg); 
}

.clear { 
    clear: both; 
}

#page-wrap { 
    width: 800px;
    margin: 40px auto 60px; 
}

#header {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:20px;
}

#header-text {
    
    text-align: center;
}

#header-text > h1 {
    margin: 20px 0;
    width:100%;
    text-align:center;
}

#profile-pic{
    height:170px; 
    max-width:170px;
    width:auto; 
    float:right;
}


section {
    /* display:flex;
    flex-direction:row; */
    margin-bottom: 20px;
}

.section-label {
    /* flex-grow:1; */
    text-transform: uppercase;
    font-weight:bold;
    color:#b2b2b2;
}

.section-content {
    max-width:90%;
}

.section-content ul {
    padding-left:20px;
}

.section-content img {
    width:50px;
    height:50px;
    margin-right:20px;
}

.section-company {
    margin-bottom: 20px;
    display:flex;
    flex-direction: row;
    border-bottom: 1px solid #eee;
}

.section-position{
    margin-bottom:10px;
    position: relative;
}

.position-title {
    position:relative;
}

.company-title {
    display:flex;
    vertical-align: middle;
}

.company-title span {
    line-height:30px;
}

.university-title {
    color: #727272
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: -51px;
    top: 6px;
}

.vl {
    border-left: 2px solid #eee;
    position: absolute;
    top: 26px;
    left: -49px;
}


.delay-200ms {
    animation-delay: 200ms;
}


.delay-400ms {
    animation-delay: 400ms;
}


.delay-600ms {
    animation-delay: 600ms;
}

.delay-800ms {
    animation-delay: 800ms;
}

.delay-1s{
    animation-delay:1s;
}

.delay-1200ms{
    animation-delay:1.2s;
}

.delay-1400ms{   
    animation-delay:1.4s;
}

.delay-1600ms{
    animation-delay:1.6s;
}

.delay-1800ms{
    animation-delay:1.8s;
}